{% extends 'base.html'%}
    
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center mt-2">Detail article</h1>
    <img src="{{article.image.url}}" alt="" style="max-width: 400px;">
    <h2>{{article.title}}</h2>
    <p>{{article.desc}}</p>
        </div>
        <div class="col-md-4">
            <h3 class="mt-2">articles in relations</h3>
            <div class="row">
                {% for art in aer %}
                {% if art.id != article.id %}
               
            
                <div class="col-md-7 mb-2">
                    {% if art.image != "http://default" %}
                    <img src="{{art.image.url}}" alt="" style="max-width: 185px;">
                    {% else %}
                    <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap" style="max-width: 185px;">
                    {% endif %}

                </div>
                
                <div class="col-5">
                   <strong>{{art.title}}</strong><br>
                    {{art.desc | truncatewords:7}}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}